<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @create.Event %>
</p>

<p>
  <strong>Title:</strong>
  <%= @create.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @create.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @create.location %>
</p>

<%= link_to 'Edit', edit_create_path(@create) %> |
<%= link_to 'Back', creates_path %>
