<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
      <%= f.input :title, label: "Event name:", input_html: { class: " textarea "}, wrapper: false, label_html: { class: "label" }, placeholder: "Event name", autofocus: true %>
      
      <%= f.input :description, label: "Description:", input_html: { class: "textarea "}, wrapper: false, label_html: { class: "label" }, placeholder: "Describe your event", autofocus: true %>

      <%= f.input :location, label: "Location:", input_html: { class: " textarea "}, wrapper: false, label_html: { class: "label" } %>

      <%= f.input :date, label: "date", input_html: { class: "datetime_select "}, wrapper: false, label_html: {class: "label"}, placeholder: "Where is it going to be?" %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

