    
    <p>Location: <%= @event.location %></p> 
    <p>Published By: <%= @event.creator.username %></p>
    <p>Description:<%= @event.description %></p>
    <p>Date:<%= @event.date %></p>

    <%= show_attendance_button(@event, @attendance) %>

    <% show_attendee_lists(@attendees) %>

    <div>
       <%= event_controls(@event)%>
    </div>
