<div class="columns">
  <div class="column columns is-half is-offset-one-quarter box mt-6">
    <div class="column is-10 is-offset-1">
    <p class="title">
      <%= @event.title %>
    </p>

    <p>
      Description:
      <%= @event.description %>
    </p>

    <p>
      Date:
      <%= @event.date %>
    </p>

    <p>
      Location:
      <%= @event.location %>
    </p>

    <p>
      <%= render 'attend_cancel' %>
    </p>

    Attendees:

    <ol>
      <%= show_attendee_lists(@attendees) %>
    </ol>

    <%= event_controls(@event) %>
    </div>
  </div>
</div>