<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event.event %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%= link_to 'Back', events_path %>
